  body {
    background-color: red;
  }

  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: black;
    border-width: 5px;
    width: 5%;
  }

  h1 {
    color: #66CDAA;
  }

  h2 {
    color: #66CDAA;
  }

  h3 {
    color: #66CDAA;
  }
